form table{
font-family:Times New Roman, Tahoma 14px;
	padding:20px;
	text-align:center;
	border: 1px solid;
    width: 400px;
	height:200px;
    margin: 100px auto;
    background: rgba(97, 136, 5, 0.32);border-radius: 9px;
	margin-left: 35%;	
}
form h2{
	font-size:25px;
	padding:5px;
	margin:5px 20px;
	border-bottom:1px solid;
	text-align:center;
	margin-top:0px;
}
table tr td input[type='text'],input[type='password'],input[type='password'],input[type='email']{
	padding: 5px;
    width: 200px;
    border-radius: 3px;
    margin-left: 0;
	margin-top:15px;
	text:left;
}
form input[type='submit']{
	padding:99px;
	width: 100px;
	border-radius:3px;
	margin-left:0%;
	margin-top:25px;
}