td{
font:11px verdana;
text-align:center;
border:1px solid green;
}
.title{
background:green;
color:white;
font-weight:bold;
}

a{
color:green;
text-decoration:none;
}

a:hover{
color:deeppink;
}


.link{
font:11px verdana;
border:1px solid green;
padding:3px;
}

.active{
background:green;
font:11px verdana;
border:1px solid green;
padding:3px;
font-weight:bold;
color:white;
margin-left:3px;
}

.title a{
color:white;
}