body{
	
    background-color: pink;
}
*{
    margin: 0px;
    padding:0px;
}
#container {
	width:960px;
	margin:0 auto;
}
#header-top{
    background-color: lightpink;
    height: 10px;
}
#header{
    margin: auto;
    width: 960px;
    position: relative; /*quan hệ giữa các phần tử trong header*/

}

#viewcheck{
     position: absolute;
     z-index: 1;
     top: 12px;
     right:15px;
 }
#viewcheck a{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
#viewcheck a:hover{
    color: red;
}

#header a ,#header a:hover {
    text-decoration: none;
    color: black;
}
#menu{
    position: absolute;
    z-index: 1; /*làm cho nổi lên trên ảnh */
    bottom: 0px;
	width:100%;
}
li {
    list-style: none;
    display: inline;
    padding: 65px;
    font-family: "CorbenBold";
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
	width:20%;
}

#header li a:hover{
    color: red;
}

#content{
    width: 100%;
    padding: 20px 0 0 38px;
}
.cell {
    width: 445px;
    height: 350px;
    margin-right: 5px;
    float: left;
}
.cell a {
    float: right;
    margin-right: 10px;
}
#footer{
    width: 100%;
    height: 100px;
}
#logo{
    width: 500px;
    float: left;
    background-color: pink;
}
div.search_tour{
	
}
div.search_tour ul.search_tour{
	width:500px;
	margin:0 auto;
	
}
div.search_tour ul.search_tour  ul li button{
	width:50px;
	height:30px;
	background:#79E49F;
	border-radius:8px;
		
}
div.search_tour ul.search_tour  ul li input{
	height:30px;
	padding:15px 10px;
	border :1px solid #d3d3d3;
	border radius:5px;
	-webkit-border-radius:5px;
	background :rgba(235,240,240,.8);
	-webkit-box-shadow:0 1px 10px #353535;
	
}
.img{
	float:left;
	width:450px;
	height:400px;
}
.tong 
{ width: 950px}
.chitiet{
	padding-left:0px;
	font-size:16px;
	width:450px;
	float:right;
}
.chitiet h2{
	font-size:25px;
}
.dattour{
	width:80px;
	background:#ddd;
	border:1px solid;
}
.dattour a{
	text-decoration: none;
	padding:5px;
}