body{background: #ECF0F1;}
.show-grid[class^="col-"]{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	border: 1px solid #ddd;
	background-color: :rgba(86,61,124,.15);
	border: 1px solid rgba(86,61,125,.2);
}
fieldset{
/*	padding: 40px;
	border: 1px solid #ccc;
  	border: 1px solid rgba(0, 0, 0, .15);
 	border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);*/

}
body{}
/*----------Navbar---------------*/
#header nav{
	
	background: ;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
#highlight{border-right: 1px solid #ffffff;}
#slider{
	background-size: cover;
	
}
/*0--------Call To Action--------------*/
#calltoaction .jumbotron{
	padding: 150px 0px;
	text-align: center;
	background: #63AFC7  url('../images/camranh/camranh4.jpg') center no-repeat;
	background-size: cover; 
	margin-bottom:0px; 
}
#calltoaction .jumbotron h1, #calltoaction .jumbotron p{
	color: #ffffff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
#calltoaction .jumbotron .btn-feature{
	border: 1px solid #ffffff;
	color: #ffffff;
}
#calltoaction .jumbotron .btn-feature:hover{
	color: #f1f1f1;
}
#feature0{
	height: 500px;
	background-size:cover; 
}
#feature1{
	background: #ffffff;
	color: #2c3e50;
	text-align: center;
	padding: 30px 0px;
}


#feature2{
	background: #34495e;
	color: #ffffff;
	text-align: center;
	padding: 30px 0px;
}
#feature2 p{
	color: #b0c3cf;
}
#feature2 h3{
	text-align: left;
	padding-left: 40px;
	text-transform: uppercase;
}


#feature3{
	padding: 30px 0px;
	background: #EEEEEE;
}
/*#feature3 .container{
	background: #ffffff;
}*/
#feature3 .row{
	padding: 20px 0px;
}
#feature3 h3{
	text-align: left;
	padding-left: 18px;
}

#feature4{
	background: #ECF0F1;
	padding: 30px 0px;
}

#feature4 .form-group{
	    margin-bottom: 0px
}
#feature4 .re{
	margin-top: 2.5px;
	margin-bottom: 2.5px ;
}

#footer{
	padding: 30px 0px;
	background: #34495E;
}
#footer a{
	color: #ffffff;
	text-transform: uppercase;
}
#feature1,
/*#feature2,*/
#feature3{
	
}

/*--------LOGIN--------------*/
#form-login{
	height: 378px;
	width: 400px;
	background: #ecf0f1;
	border-radius:8px; 
	margin-top: 140px;
	/*box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8);*/
	-webkit-box-shadow: 2px 3px 13px 0px rgba(0,0,0,1);
	-moz-box-shadow: 2px 3px 13px 0px rgba(0,0,0,1);
	box-shadow: 2px 3px 13px 0px rgba(0,0,0,1);
}
#form-login legend{
	padding: 5px;
	margin-right: 100px;
}



/*---------REGISTER------------*/
#register{
	width: 700px;
	margin: 50px auto;
}
#register .row{
	padding-bottom: 10px;
}

.error{
	color: #e74c3c;
	font-style: italic;
}
.success{
	color: #2ecc71;
	text-align: center;
	font-weight: bold;
}
.btn-admin{

}
.price{
	font-weight: bold;
}