*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
li {list-style: none;}
html {
    font-family: "Trebuchet MS",sans-serif,Arial,Helvitica;
}
.wrapper{
	background: url("../images/bg-body.jpg") repeat;
}
/*Start header*/
.top{
	background-color: yellow;
	height: 17px;
	border-bottom: 1px solid green;
}
.header{
	width: 960px;
	margin: auto;
	position: relative;
}
.connect{
	position: absolute;
	top: 0px;
	width: 910px;
}
.connect a{
	display: inline-block;
	height: 30px;
	margin: 13px 12px;
}
#fb, #tw, #vm{
	background: url("../images/icons.gif") no-repeat;
}
#fb{
	background-position: 0px 2px;
	width: 27px;
}
#tw{
	background-position: 0px -36px;
	width: 36px;
}
#vm{
	background-position: 0px -74px;
	width: 32px;
}
.view-out{
	float: right;
}
.view-out a{
	color: #635320;
	font-family: Arial;
	font-size: 14px;
	margin: 0px 5px;
	line-height: 60px;
}

.navbar{
	position: absolute;
	bottom: 0px;
	
}
.navbar li {
	list-style: none;
	display: inline;
	padding: 0px 47px;
	font-family: "CorbenBold";
	font-size: 22px;
	font-weight: bold;
	line-height: 70px;
	text-align: center;
}
.navbar li a {color: #9D7912;}
.navbar li a:hover {color: #fff;}
#selected{color: #fff;}
/*End header*/
/*Start content*/
.content{
	width: 950px;
	margin: 20px auto;
}
.sale{
	padding: 5px;
	background-color: #fff;
}
#sale{
	border: 1px solid gray;
}
.dashed{
	background: url("../images/border-dashed.jpg") repeat-x center;
	height: 35px;
	margin: 20px auto;
}
.shirts{
	display: inline-block;
	margin: 0px auto 15px;
	padding: 0px;
}
.shirts li {
	float: left;
	background: #FFF url("../images/bottom-shadow-img.jpg") no-repeat scroll center bottom;
	height: 253px;
	width: 204px;
	margin-right: 28px;
	padding: 6px 6px 15px;
	
}
.shirts li:last-child{
	margin-right: 0px;
}
.shirts img{
	border: 1px solid gray;
}

.button{
	background: url("../images/bg-button.jpg") no-repeat center;
	height: 37px;
	width: 144px;
	display: block;
	color: #8E7217;
	font-family: "CorbenBold";
	font-size: 18px;
	line-height: 35px;
}
/*End content*/
/*Start footer*/
.footer{
	width: 950px;
	margin:auto;
}
.infor{
	position: relative;
}
.logo{
	float: left; width: 180px; 
}
.logo p, .logo a{
	color: #9D7912;
	font-size: 11px;
	line-height: 20px;
}
.descrip{
	position: absolute;
	left: 230px;
	color: #9D7912;
	font-size: 13px;
	line-height: 20px;
	text-align: justify;
}
.descrip a{
	color: #9D7912;
	text-decoration: underline;
}
.clear{clear: both;}
.nav-footer{
	width: 390px;
	margin:0px auto 0px;
	padding-bottom: 50px;
}
.nav-footer li{
	display: inline;
	color: #FFF;
}
.nav-footer a{
	color: #FFF;
	font-size: 14px;
	padding: 0px 13px;
	text-shadow: 1px 1px 0px #AF9E31;
}
.nav-footer a:hover , #selected-footer{
	color: #9D7912;
}
#selected-footer:hover{
	color: #fff;
}
/*End footer*/
@font-face {
  font-family: "CorbenBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/corben-bold-webfont.woff") format("woff"), 
  url("../fonts/corben-bold-webfont.ttf") format("truetype"), 
  url("../fonts/corben-bold-webfont.svg") format("svg");
}